.containerLogi  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 text-align: center;
 
  
}

.containerLogi .input-box{
    position: relative;
    height: 20px;
    margin: 10px auto;
    border-radius: 5px;
}